[package]
name = "zellij-utils"
version = "0.24.0"
authors = ["Kunal Mohan <kunalmohan99@gmail.com>"]
edition = "2021"
description = "A utility library for Zellij client and server"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.45"
backtrace = "0.3.55"
bincode = "1.3.1"
colored = "2.0.0"
colorsys = "0.6.5"
crossbeam = "0.8.0"
directories-next = "2.0"
interprocess = "1.1.1"
lazy_static = "1.4.0"
libc = "0.2"
nix = "0.19.1"
once_cell = "1.7.2"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
serde_json = "1.0"
signal-hook = "0.3"
strip-ansi-escapes = "0.1.0"
structopt = "0.3"
strum = "0.20.0"
termion = "1.5.0"
thiserror = "1.0.30"
url = { version = "2.2.2", features = ["serde"] }
vte = "0.10.1"
zellij-tile = { path = "../zellij-tile/", version = "0.24.0" }
log = "0.4.14"
log4rs = "1.0.0"
unicode-width = "0.1.8"

[dependencies.async-std]
version = "1.3.0"
features = ["unstable"]

[dev-dependencies]
tempfile = "3.2.0"

