themes {
    everforest-dark {
        bg "#2b3339"
        fg "#d3c6aa"
        black "#4b565c"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        white "#d3c6aa"
        orange "#FF9E64"
    }
}
