[Desktop Entry]
Version=1.0
Type=Application
Name=Zellij
GenericName=Terminal Workspace
Comment=Manage Your Terminal Applications
Exec=zellij window
Icon=zellij
Terminal=false
StartupWMClass=zellij
Categories=System;TerminalEmulator;
Keywords=terminal;multiplexer;shell;workspace;
