[package]
name = "zellij-server"
version = "0.18.0"
authors = ["Kunal Mohan <kunalmohan99@gmail.com>"]
edition = "2018"
description = "The server-side library for Zellij"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
async-trait = "0.1.50"
base64 = "0.13.0"
byteorder = "1.4.3"
daemonize = "0.4.1"
serde_json = "1.0"
unicode-width = "0.1.8"
url = "2.2.2"
wasmer = "1.0.0"
wasmer-wasi = "1.0.0"
cassowary = "0.3.0"
zellij-utils = { path = "../zellij-utils/", version = "0.18.0" }
log = "0.4.14"
typetag = "0.1.7"
chrono = "0.4.19"

[target.'cfg(target_os = "macos")'.dependencies]
darwin-libproc = "0.2.0"

[dev-dependencies]
insta = "1.6.0"

