themes {
    ayu-mirage {
        text_unselected {
            base 199 199 199
            background 26 31 41
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        text_selected {
            base 199 199 199
            background 64 159 255
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        ribbon_selected {
            base 26 31 41
            background 213 255 128
            emphasis_0 242 135 121
            emphasis_1 255 173 102
            emphasis_2 223 191 255
            emphasis_3 115 208 255
        }
        ribbon_unselected {
            base 26 31 41
            background 204 202 194
            emphasis_0 242 135 121
            emphasis_1 199 199 199
            emphasis_2 115 208 255
            emphasis_3 223 191 255
        }
        table_title {
            base 213 255 128
            background 0
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        table_cell_selected {
            base 199 199 199
            background 64 159 255
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        table_cell_unselected {
            base 199 199 199
            background 26 31 41
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        list_selected {
            base 199 199 199
            background 64 159 255
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        list_unselected {
            base 199 199 199
            background 26 31 41
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 213 255 128
            emphasis_3 223 191 255
        }
        frame_selected {
            base 213 255 128
            background 0
            emphasis_0 255 173 102
            emphasis_1 68 75 85
            emphasis_2 223 191 255
            emphasis_3 0
        }
        frame_highlight {
            base 255 173 102
            background 0
            emphasis_0 223 191 255
            emphasis_1 255 173 102
            emphasis_2 255 173 102
            emphasis_3 255 173 102
        }
        exit_code_success {
            base 213 255 128
            background 0
            emphasis_0 68 75 85
            emphasis_1 26 31 41
            emphasis_2 223 191 255
            emphasis_3 115 208 255
        }
        exit_code_error {
            base 242 135 121
            background 0
            emphasis_0 255 204 119
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 223 191 255
            player_2 115 208 255
            player_3 0
            player_4 255 204 119
            player_5 68 75 85
            player_6 0
            player_7 242 135 121
            player_8 0
            player_9 0
            player_10 0
        }
    }
  }

