// Author: Evan Lauer <evthestrike@gmail.com>
// Based on the AYU theme colors from https://github.com/dempfi/ayu

themes {
    ayu_mirage {
        fg "#CCCAC2"
        bg "#1F2430"
        black "#1A1F29"
        red "#F28779"
        green "#D5FF80"
        yellow "#FFCC77"
        blue "#73D0FF"
        magenta "#DFBFFF"
        cyan "#444B55"
        white "#C7C7C7"
        orange "#FFAD66"
	}

	ayu_light {
		fg "#5C6166"
		bg "#FAFAFA"
		black "#E7EAED"
		red "#F07171"
		green "#86B300"
		yellow "#FFAA33"
		blue "#399EE6"
		magenta "#A37ACC"
		cyan "#478ACC"
		white "#FCFCFC"
		orange "#FA8D3E"
	}

	ayu_dark {
		fg "#BFBDB6"
		bg "#0F1419" 
		black "#131721"
		red "#F07178"
		green "#AAD94C"
		yellow "#E6B450"
		blue "#59C2FF"
		magenta "#D2A6FF"
		cyan "#73B8FF"
		white "#CCCAC2"
		orange "#FF8F40"
	}
}
