// Cyberpunk inspired themes

themes{

    cyber-noir {
        bg "#0b0e1a" // Dark Blue
        fg "#91f3e4" // Teal
        red "#ff578d" // Hot Pink
        green "#00ff00" // Neon Green
        blue "#3377ff" // Electric Blue
        yellow "#ffd700" // Cyber Yellow
        magenta "#ff00ff" // Neon Purple
        orange "#ff7f50" // Cyber Orange
        cyan "#00e5e5" // Cyan
        black "#000000" // Black
        white "#91f3e4" // Teal
    }

    blade-runner {
        bg "#1a1a1a" // Dark Gray
        fg "#2bbff4" // Neon Blue
        red "#ff355e" // Neon Pink
        green "#00ff00" // Neon Green
        blue "#00d9e3" // Electric Blue
        yellow "#ffe600" // Neon Yellow
        magenta "#ff00ff" // Neon Purple
        orange "#ff8c0d" // Cyber Orange
        cyan "#00e5e5" // Cyan
        black "#000000" // Black
        white "#ffffff" // White
    }

    retro-wave {
        bg "#1a1a1a" // Dark Gray
        fg "#ff9900" // Retro Orange
        red "#ff355e" // Neon Pink
        green "#00ff00" // Neon Green
        blue "#00d9e3" // Electric Blue
        yellow "#ffe600" // Neon Yellow
        magenta "#ff00ff" // Neon Purple
        orange "#ff6611" // Retro Red
        cyan "#00e5e5" // Cyan
        black "#000000" // Black
        white "#ffffff" // White
    }
}