themes {
    default {
        text_unselected {
            base 215 215 215
            background 11 11 11
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        text_selected {
            base 215 215 215
            background 56 56 56
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        ribbon_selected {
            base 11 11 11
            background 150 220 90
            emphasis_0 79 26 34
            emphasis_1 79 26 34
            emphasis_2 11 11 11
            emphasis_3 99 11 20
        }
        ribbon_unselected {
            base 11 11 11
            background 152 152 152
            emphasis_0 79 26 34
            emphasis_1 220 220 220
            emphasis_2 20 49 79
            emphasis_3 99 11 20
        }
        table_title {
            base 150 220 90
            background 11 11 11
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        table_cell_selected {
            base 215 215 215
            background 56 56 56
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        table_cell_unselected {
            base 215 215 215
            background 11 11 11
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        list_selected {
            base 215 215 215
            background 56 56 56
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        list_unselected {
            base 215 215 215
            background 11 11 11
            emphasis_0 255 145 70
            emphasis_1 70 175 255
            emphasis_2 150 220 90
            emphasis_3 217 140 255
        }
        frame_unselected {
            base 105 105 105
            background 11 11 11
            emphasis_0 255 205 80
            emphasis_1 70 175 255
            emphasis_2 160 150 255
            emphasis_3 217 140 255
        }
        frame_selected {
            base 150 220 90
            background 11 11 11
            emphasis_0 255 205 80
            emphasis_1 70 175 255
            emphasis_2 255 130 200
            emphasis_3 255 145 70
        }
        frame_highlight {
            base 255 205 80
            background 11 11 11
            emphasis_0 60 215 200
            emphasis_1 160 150 255
            emphasis_2 255 205 80
            emphasis_3 255 205 80
        }
        exit_code_success {
            base 150 220 90
            background 11 11 11
            emphasis_0 60 215 200
            emphasis_1 11 11 11
            emphasis_2 255 130 200
            emphasis_3 70 175 255
        }
        exit_code_error {
            base 255 95 110
            background 11 11 11
            emphasis_0 255 205 80
            emphasis_1 255 145 70
            emphasis_2 137 137 137
            emphasis_3 160 150 255
        }
        multiplayer_user_colors {
            player_1 255 130 200
            player_2 70 175 255
            player_3 160 150 255
            player_4 255 205 80
            player_5 60 215 200
            player_6 255 145 70
            player_7 255 95 110
            player_8 137 137 137
            player_9 150 220 90
            player_10 240 190 140
        }
        terminal_colors {
            black 32 32 32
            red 255 95 110
            green 150 220 90
            yellow 255 205 80
            blue 70 175 255
            magenta 217 140 255
            cyan 60 215 200
            white 215 215 215
            bright_black 137 137 137
            bright_red 255 140 150
            bright_green 185 240 135
            bright_yellow 255 225 135
            bright_blue 130 200 255
            bright_magenta 235 175 255
            bright_cyan 125 235 222
            bright_white 240 240 240
        }
    }
}
