themes {
    flexoki-dark {
        text_unselected {
            base 206 205 195
            background 40 39 38
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        text_selected {
            base 255 252 240
            background 52 51 49
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        ribbon_selected {
            base 40 39 38
            background 208 162 21
            emphasis_0 16 15 15
            emphasis_1 175 48 41
            emphasis_2 94 64 157
            emphasis_3 32 94 166
        }
        ribbon_unselected {
            base 40 39 38
            background 183 181 172
            emphasis_0 64 62 60
            emphasis_1 175 48 41
            emphasis_2 94 64 157
            emphasis_3 32 94 166
        }
        table_title {
            base 208 162 21
            background 0
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        table_cell_selected {
            base 206 205 195
            background 52 51 49
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        table_cell_unselected {
            base 206 205 195
            background 40 39 38
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        list_selected {
            base 206 205 195
            background 52 51 49
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        list_unselected {
            base 206 205 195
            background 40 39 38
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 135 154 57
            emphasis_3 139 126 200
        }
        frame_unselected {
            base 87 86 83
            background 0
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 139 126 200
            emphasis_3 0
        }
        frame_selected {
            base 208 162 21
            background 0
            emphasis_0 218 112 44
            emphasis_1 58 169 159
            emphasis_2 139 126 200
            emphasis_3 0
        }
        frame_highlight {
            base 218 112 44
            background 0
            emphasis_0 139 126 200
            emphasis_1 218 112 44
            emphasis_2 218 112 44
            emphasis_3 218 112 44
        }
        exit_code_success {
            base 135 154 57
            background 0
            emphasis_0 58 169 159
            emphasis_1 40 39 38
            emphasis_2 139 126 200
            emphasis_3 67 133 190
        }
        exit_code_error {
            base 209 77 65
            background 0
            emphasis_0 208 162 21
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 139 126 200
            player_2 67 133 190
            player_3 0
            player_4 208 162 21
            player_5 58 169 159
            player_6 0
            player_7 209 77 65
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
