themes {
    gruber-darker {
        // Base colors from gruber-darker-theme.el
        // gruber-darker-fg        "#e4e4ef"
        // gruber-darker-fg+1      "#f4f4ff"
        // gruber-darker-fg+2      "#f5f5f5"
        // gruber-darker-white     "#ffffff"
        // gruber-darker-black     "#000000"
        // gruber-darker-bg-1      "#101010"
        // gruber-darker-bg        "#181818"
        // gruber-darker-bg+1      "#282828"
        // gruber-darker-bg+2      "#453d41"
        // gruber-darker-bg+3      "#484848"
        // gruber-darker-bg+4      "#52494e"
        // gruber-darker-red-1     "#c73c3f"
        // gruber-darker-red       "#f43841"
        // gruber-darker-red+1     "#ff4f58"
        // gruber-darker-green     "#73c936"
        // gruber-darker-yellow    "#ffdd33"
        // gruber-darker-brown     "#cc8c3c"
        // gruber-darker-quartz    "#95a99f"
        // gruber-darker-niagara-2 "#303540"
        // gruber-darker-niagara-1 "#565f73"
        // gruber-darker-niagara   "#96a6c8"
        // gruber-darker-wisteria  "#9e95c7"

        text_unselected {
            base 228 228 239      // gruber-darker-fg
            background 24 24 24   // gruber-darker-bg
            emphasis_0 149 169 159 // gruber-darker-quartz
            emphasis_1 150 166 200 // gruber-darker-niagara
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 255 221 51  // gruber-darker-yellow
        }

        text_selected {
            base 228 228 239      // gruber-darker-fg
            background 40 40 40   // gruber-darker-bg+1
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 150 166 200 // gruber-darker-niagara
        }

        ribbon_unselected {
            base 228 228 239      // gruber-darker-fg
            background 40 40 40   // gruber-darker-bg+1
            emphasis_0 149 169 159 // gruber-darker-quartz
            emphasis_1 204 140 60  // gruber-darker-brown
            emphasis_2 150 166 200 // gruber-darker-niagara
            emphasis_3 158 149 199 // gruber-darker-wisteria
        }

        ribbon_selected {
            base 0 0 0            // gruber-darker-black
            background 255 221 51 // gruber-darker-yellow
            emphasis_0 244 244 255 // gruber-darker-fg+1
            emphasis_1 255 255 255 // gruber-darker-white
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 150 166 200 // gruber-darker-niagara
        }

        table_title {
            base 255 221 51       // gruber-darker-yellow
            background 24 24 24   // gruber-darker-bg
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 244 244 255 // gruber-darker-fg+1
            emphasis_2 150 166 200 // gruber-darker-niagara
            emphasis_3 115 201 54  // gruber-darker-green
        }

        table_cell_unselected {
            base 228 228 239      // gruber-darker-fg
            background 24 24 24   // gruber-darker-bg
            emphasis_0 149 169 159 // gruber-darker-quartz
            emphasis_1 150 166 200 // gruber-darker-niagara
            emphasis_2 204 140 60  // gruber-darker-brown
            emphasis_3 115 201 54  // gruber-darker-green
        }

        table_cell_selected {
            base 228 228 239      // gruber-darker-fg
            background 69 61 65   // gruber-darker-bg+2
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 150 166 200 // gruber-darker-niagara
        }

        list_unselected {
            base 228 228 239      // gruber-darker-fg
            background 24 24 24   // gruber-darker-bg
            emphasis_0 149 169 159 // gruber-darker-quartz
            emphasis_1 150 166 200 // gruber-darker-niagara
            emphasis_2 204 140 60  // gruber-darker-brown
            emphasis_3 115 201 54  // gruber-darker-green
        }

        list_selected {
            base 244 244 255      // gruber-darker-fg+1
            background 72 72 72   // gruber-darker-bg+3
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 150 166 200 // gruber-darker-niagara
        }

        frame_selected {
            base 255 221 51       // gruber-darker-yellow
            background 24 24 24   // gruber-darker-bg
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 244 244 255 // gruber-darker-fg+1
            emphasis_2 115 201 54  // gruber-darker-green
            emphasis_3 150 166 200 // gruber-darker-niagara
        }

        frame_highlight {
            base 115 201 54       // gruber-darker-green
            background 24 24 24   // gruber-darker-bg
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 150 166 200 // gruber-darker-niagara
            emphasis_3 158 149 199 // gruber-darker-wisteria
        }

        exit_code_success {
            base 115 201 54       // gruber-darker-green
            background 24 24 24   // gruber-darker-bg
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 150 166 200 // gruber-darker-niagara
            emphasis_3 158 149 199 // gruber-darker-wisteria
        }

        exit_code_error {
            base 255 79 88        // gruber-darker-red+1
            background 24 24 24   // gruber-darker-bg
            emphasis_0 255 255 255 // gruber-darker-white
            emphasis_1 255 221 51  // gruber-darker-yellow
            emphasis_2 150 166 200 // gruber-darker-niagara
            emphasis_3 158 149 199 // gruber-darker-wisteria
        }

        multiplayer_user_colors {
            player_1 255 221 51   // gruber-darker-yellow
            player_2 115 201 54   // gruber-darker-green
            player_3 150 166 200  // gruber-darker-niagara
            player_4 158 149 199  // gruber-darker-wisteria
            player_5 149 169 159  // gruber-darker-quartz
            player_6 204 140 60   // gruber-darker-brown
            player_7 255 79 88    // gruber-darker-red+1
            player_8 244 56 65    // gruber-darker-red
            player_9 199 60 63    // gruber-darker-red-1
            player_10 255 255 255 // gruber-darker-white
        }
    }
}
