themes {
    iceberg-dark {
        text_unselected {
            base 198 200 209
            background 30 33 50
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        text_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        ribbon_selected {
            base 30 33 50
            background 132 160 198
            emphasis_0 226 120 120
            emphasis_1 226 165 120
            emphasis_2 160 147 199
            emphasis_3 180 190 130
        }
        ribbon_unselected {
            base 30 33 50
            background 198 200 209
            emphasis_0 226 120 120
            emphasis_1 198 200 209
            emphasis_2 180 190 130
            emphasis_3 160 147 199
        }
        table_title {
            base 132 160 198
            background 0
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        table_cell_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        table_cell_unselected {
            base 198 200 209
            background 30 33 50
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        list_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        list_unselected {
            base 198 200 209
            background 30 33 50
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 132 160 198
            emphasis_3 160 147 199
        }
        frame_selected {
            base 132 160 198
            background 0
            emphasis_0 226 165 120
            emphasis_1 137 184 194
            emphasis_2 160 147 199
            emphasis_3 0
        }
        frame_highlight {
            base 226 165 120
            background 0
            emphasis_0 160 147 199
            emphasis_1 226 165 120
            emphasis_2 226 165 120
            emphasis_3 226 165 120
        }
        exit_code_success {
            base 132 160 198
            background 0
            emphasis_0 137 184 194
            emphasis_1 30 33 50
            emphasis_2 160 147 199
            emphasis_3 180 190 130
        }
        exit_code_error {
            base 226 120 120
            background 0
            emphasis_0 226 164 120
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 160 147 199
            player_2 180 190 130
            player_3 0
            player_4 226 164 120
            player_5 137 184 194
            player_6 0
            player_7 226 120 120
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
