themes {
    iceberg-light {
        text_unselected {
            base 51 55 76
            background 220 223 231
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        text_selected {
            base 51 55 76
            background 232 233 236
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        ribbon_selected {
            base 220 223 231
            background 45 83 158
            emphasis_0 204 81 122
            emphasis_1 198 116 57
            emphasis_2 119 89 180
            emphasis_3 102 142 61
        }
        ribbon_unselected {
            base 220 223 231
            background 51 55 76
            emphasis_0 204 81 122
            emphasis_1 51 55 76
            emphasis_2 102 142 61
            emphasis_3 119 89 180
        }
        table_title {
            base 45 83 158
            background 0
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        table_cell_selected {
            base 51 55 76
            background 232 233 236
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        table_cell_unselected {
            base 51 55 76
            background 220 223 231
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        list_selected {
            base 51 55 76
            background 232 233 236
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        list_unselected {
            base 51 55 76
            background 220 223 231
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 45 83 158
            emphasis_3 119 89 180
        }
        frame_selected {
            base 45 83 158
            background 0
            emphasis_0 198 116 57
            emphasis_1 63 131 166
            emphasis_2 119 89 180
            emphasis_3 0
        }
        frame_highlight {
            base 198 116 57
            background 0
            emphasis_0 119 89 180
            emphasis_1 198 116 57
            emphasis_2 198 116 57
            emphasis_3 198 116 57
        }
        exit_code_success {
            base 45 83 158
            background 0
            emphasis_0 63 131 166
            emphasis_1 220 223 231
            emphasis_2 119 89 180
            emphasis_3 102 142 61
        }
        exit_code_error {
            base 204 81 122
            background 0
            emphasis_0 197 115 57
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 119 89 180
            player_2 102 142 61
            player_3 0
            player_4 197 115 57
            player_5 63 131 166
            player_6 0
            player_7 204 81 122
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
