themes {
    molokai-dark {
        text_unselected {
            base 255 255 255
            background 0 0 0
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        text_selected {
            base 255 255 255
            background 27 29 30
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        ribbon_selected {
            base 0 0 0
            background 0 140 0
            emphasis_0 255 0 0
            emphasis_1 253 151 31
            emphasis_2 174 129 255
            emphasis_3 102 217 239
        }
        ribbon_unselected {
            base 0 0 0
            background 248 248 240
            emphasis_0 255 0 0
            emphasis_1 255 255 255
            emphasis_2 102 217 239
            emphasis_3 174 129 255
        }
        table_title {
            base 0 140 0
            background 0
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        table_cell_selected {
            base 255 255 255
            background 27 29 30
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        table_cell_unselected {
            base 255 255 255
            background 0 0 0
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        list_selected {
            base 255 255 255
            background 27 29 30
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        list_unselected {
            base 255 255 255
            background 0 0 0
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 0 140 0
            emphasis_3 174 129 255
        }
        frame_selected {
            base 0 140 0
            background 0
            emphasis_0 253 151 31
            emphasis_1 0 255 255
            emphasis_2 174 129 255
            emphasis_3 0
        }
        frame_highlight {
            base 253 151 31
            background 0
            emphasis_0 174 129 255
            emphasis_1 253 151 31
            emphasis_2 253 151 31
            emphasis_3 253 151 31
        }
        exit_code_success {
            base 0 140 0
            background 0
            emphasis_0 0 255 255
            emphasis_1 0 0 0
            emphasis_2 174 129 255
            emphasis_3 102 217 239
        }
        exit_code_error {
            base 255 0 0
            background 0
            emphasis_0 255 255 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 174 129 255
            player_2 102 217 239
            player_3 0
            player_4 255 255 0
            player_5 0 255 255
            player_6 0
            player_7 255 0 0
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
