// Nightfox Theme:
// https://github.com/edeneast/nightfox.nvim

themes {
  dayfox {
    bg "#f6f2ee"
    fg "#3d2b5a"
    red "#a5222f"
    green "#396847"
    blue "#2848a9"
    yellow "#ac5402"
    magenta "#6e33ce"
    orange "#955f61"
    cyan "#287980"
    black "#d3c7bb"
    white "#643f61"
  }
  nightfox {
    bg "#192330"
    fg "#cdcecf"
    red "#c94f6d"
    green "#81b29a"
    blue "#719cd6"
    yellow "#dbc074"
    magenta "#9d79d6"
    orange "#f4a261"
    cyan "#63cdcf"
    black "#29394f"
    white "#aeafb0"
  }
  terafox {
    bg "#152528"
    fg "#e6eaea"
    red "#e85c51"
    green "#7aa4a1"
    blue "#5a93aa"
    yellow "#fda47f"
    magenta "#ad5c7c"
    orange "#ff8349"
    cyan "#a1cdd8"
    black "#254147"
    white "#cbd9d8"
  }
}
