// Translated from https://github.com/jacoborus/tender.vim
// magenta is not part of the tender theme
// ┌────────┬─────────┬─────────┬─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
// │        │   Red   │ Magenta │  Blue   │  Green  │ Yellow  │  White  │  Grey   │  Black  │
// ├────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │ Bright │ #e8556a │ #d49bc5 │ #b3deef │ #c9d05c │ #d3b987 │ #ffffff │ #999999 │ #373737 │
// ├────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │ Normal │ #c03548 │ #b06898 │ #87c4e8 │ #8fa028 │ #ffc24b │ #eeeeee │ #666666 │ #282828 │
// ├────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │ Dim    │ #6a2535 │ #6e3a5e │ #466878 │ #585a2a │ #7a6020 │ #c8c8c8 │ #484848 │ #0a0a0a │
// └────────┴─────────┴─────────┴─────────┴─────────┴─────────┴─────────┴─────────┴─────────┘
//
// ┌────────┬────────────┬─────────────┬─────────────┬────────────┬─────────────┬─────────────┬─────────────┬──────────┐
// │        │    Red     │   Magenta   │    Blue     │   Green    │   Yellow    │    White    │    Grey     │  Black   │
// ├────────┼────────────┼─────────────┼─────────────┼────────────┼─────────────┼─────────────┼─────────────┼──────────┤
// │ Bright │ 232 85 106 │ 212 155 197 │ 179 222 239 │ 201 208 92 │ 211 185 135 │ 255 255 255 │ 153 153 153 │ 55 55 55 │
// ├────────┼────────────┼─────────────┼─────────────┼────────────┼─────────────┼─────────────┼─────────────┼──────────┤
// │ Normal │ 192 53 72  │ 176 104 152 │ 135 196 232 │ 143 160 40 │ 255 194 75  │ 238 238 238 │ 102 102 102 │ 40 40 40 │
// ├────────┼────────────┼─────────────┼─────────────┼────────────┼─────────────┼─────────────┼─────────────┼──────────┤
// │ Dim    │ 106 37 53  │  110 58 94  │ 70 104 120  │ 88 90 42   │ 122 96 32   │ 200 200 200 │ 72 72 72    │ 10 10 10 │
// └────────┴────────────┴─────────────┴─────────────┴────────────┴─────────────┴─────────────┴─────────────┴──────────┘

themes {
    tender {
        text_unselected {
            base 238 238 238       // Normal White
            background 40 40 40    // Normal Black
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        text_selected {
            base 238 238 238       // Normal White
            background 10 10 10    // Dim Black
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        ribbon_selected {
            base 40 40 40          // Normal Black
            background 135 196 232   // Normal Blue
            emphasis_0 72 72 72
            emphasis_1 72 72 72
            emphasis_2 72 72 72
            emphasis_3 72 72 72
        }
        ribbon_unselected {
            base 0 0 0
            background 70 104 120  // Dim Blue
            emphasis_0 179 222 239 // Bright Blue
            emphasis_1 201 208 92  // Bright Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        table_title {
            base 143 160 40        // Normal Green
            background 0
            emphasis_0 179 222 239 // Bright Blue
            emphasis_1 201 208 92  // Bright Green
            emphasis_2 211 185 135 // Bright Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        table_cell_selected {
            base 238 238 238       // Normal White
            background 10 10 10    // Dim Black
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        table_cell_unselected {
            base 200 200 200       // Dim White
            background 40 40 40    // Normal Black
            emphasis_0 70 104 120  // Dim Blue
            emphasis_1 88 90 42    // Dim Green
            emphasis_2 122 96 32   // Dim Yellow
            emphasis_3 122 96 32   // Dim Yellow
        }
        list_selected {
            base 238 238 238       // Normal White
            background 10 10 10    // Dim Black
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        list_unselected {
            base 238 238 238       // Normal White
            background 40 40 40    // Normal Black
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        frame_selected {
            base 135 196 232       // Normal Blue
            background 0
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        frame_highlight {
            base 255 194 75        // Normal Yellow
            background 0
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        exit_code_success {
            base 143 160 40        // Normal Green
            background 0
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        exit_code_error {
            base 192 53 72         // Normal Red
            background 0
            emphasis_0 135 196 232 // Normal Blue
            emphasis_1 143 160 40  // Normal Green
            emphasis_2 255 194 75  // Normal Yellow
            emphasis_3 211 185 135 // Bright Yellow
        }
        multiplayer_user_colors {
            player_1 232 85 106    // Bright Red
            player_2 135 196 232   // Normal Blue
            player_3 0
            player_4 143 160 40    // Normal Green
            player_5 255 194 75    // Normal Yellow
            player_6 0
            player_7 179 222 239   // Bright Blue
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
