keybinds {
    unbind "Ctrl g";
    normal clear-defaults=true {
        unbind "Alt ="; // TODO: removeme
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl q" { Quit; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt y" {
            Run "diskonaut" {
                cwd "/home/aram"
            }
        }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl n" "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl q" { Quit; }
        bind "h" "Left" { Resize "Left"; }
        bind "j" "Down" { Resize "Down"; }
        bind "k" "Up" { Resize "Up"; }
        bind "l" "Right" { Resize "Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    pane {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl p" "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl q" { Quit; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "c" { SwitchToMode "RenamePane"; }
    }
    move {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl h" "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl q" { Quit; }
        bind "n" "Tab" { MovePane; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    tab {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl t" "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Ctrl q" { Quit; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    search {
        bind "Ctrl s" "Space" "Enter" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "Ctrl q" { Quit; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    renametab {
        bind "Enter" "Ctrl c" "Esc" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" {Resize "Increase"; }
        bind "Alt +" {Resize "Increase"; }
        bind "Alt -" {Resize "Decrease"; }
    }
    renamepane {
        bind "Enter" "Ctrl c" "Esc" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    session {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl o" "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Search"; }
        bind "Ctrl q" { Quit; }
        bind "d" { Detach; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    tmux {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
        bind "[" { SwitchToMode "Search"; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        bind "\\" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "o" { FocusNextPane; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "d" { Detach; }
    }
}
// session_name "my-foo-session"
// attach_to_session true

//  Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
//  eg. when terminal window with an active zellij session is closed
//  Options:
//    - detach (Default)
//    - quit
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
// simplified_ui true

//  Choose the path to the default shell that zellij will use for opening new panes
//  Default: $SHELL
// default_shell "fish"

//  Toggle between having pane frames around the panes
//  Options:
//    - true (default)
//    - false
// pane_frames true

//  Choose the theme that is specified in the themes section.
//  For some examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
//  Default: default
// theme "default"

//  Choose the mode that zellij uses when starting up.
//  Default: normal
// default_mode "locked"

//  Toggle enabling the mouse mode.
//  On certain configurations, or terminals this could
//  potentially interfere with copying text.
//  Options:
//    - true (default)
//    - false
// mouse_mode false

//  Configure the scroll back buffer size
//  This is the number of lines zellij stores for each pane in the scroll back
//  buffer. Excess number of lines are discarded in a FIFO fashion.
//  Valid values: positive integers
//  Default value: 10000
// scroll_buffer_size 10000

//  Provide a command to execute when copying text. The text will be piped to
//  the stdin of the program to perform the copy. This can be used with
//  terminal emulators which do not support the OSC 52 ANSI control sequence
//  that will be used by default if this option is not set.
//  Examples:
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

//  Choose the destination for copied text
//  Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
//  Does not apply when using copy_command.
//  Options:
//    - system (default)
//    - primary
// copy_clipboard "primary"

//  Enable or disable automatic copy (and clear) of selection when releasing mouse
//  Default: true
// copy_on_select false

//  Path to the default editor to use to edit pane scrollbuffer
//  Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"

//  When attaching to an existing session with other users,
//  should the session be mirrored (true)
//  or should each user have their own cursor (false)
//  Default: false
// mirror_session true

themes {
    dracula {
        // From https://github.com/dracula/zellij
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        fg 248 248 242
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
    nord {
        fg "#D8DEE9"
        bg "#2E3440"
        black "#3B4252"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#E5E9F0"
        orange "#D08770"
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

ui {
    pane_frames {
        rounded_corners false
    }
}

env {
    RUST_BACKTRACE 1
    foo "bar"
}
