:root {
    --dynamic-vh: 100dvh;
    --dynamic-vw: 100dvw;
}

html,
body,
#terminal {
    height: var(--dynamic-vh, 100vh);
    width: var(--dynamic-vw, 100vw);
    margin: 0;
    overflow: hidden;
}
