layout {
    pane size=1 borderless=true {
//         plugin location="zellij:tab-bar"
    }
    pane
//     pane size=2 borderless=true {
//         plugin location="zellij:status-bar"
//     }
}
// keybinds {
//     normal {
//         bind "Ctrl g" { SwitchToMode "Pane"; }
//         bind "Ctrl a" { SwitchToMode "Locked"; }
//     }
// }
// pane_frames false
// default_mode "pane"
// themes {
//     dracula {
//         // From https://github.com/dracula/zellij
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         fg 248 248 242
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }
// env {
//     RUST_BACKTRACE 2
//     bar "foo"
// }
// layout {
//     parts direction="Horizontal" {
//         layout size=1 {
//             borderless true
//             plugin {
//                 location "zellij:tab-bar"
//             }
//         }
//         tabs;
//         layout size=2 {
//             borderless true
//             plugin {
//                 location "zellij:status-bar"
//             }
//         }
//     }
// }

// TODO: CONTINUE HERE (20/08) - consider implementing this
// with tab templates
// layout {
//     pane_template name="htop" {
//         pane command="htop"
//         vertical-sandwich
//         foopane
//     }
//     pane_template name="vertical-sandwich" split_direction="vertical" {
//         pane
//         children
//         pane
//     }
//     pane_template name="foopane" {
//         pane name="foo"
//         htop-vertical-sandwich
//     }
//     pane_template name="htop-vertical-sandwich" split_direction="vertical" {
//         pane
//         htop
//         pane
//     }
//     htop-vertical-sandwich
//     // htop-vertical-sandwich
// //     htop
// //     pane
// //     pane
// }

//         layout {
//             tab_template name="horizontal-with-vertical-top" {
//                 pane split_direction="Vertical" {
//                     pane
//                     children
//                 }
//                 my-pane-template {
//                     pane {
//                         pane
//                         children
//                     }
//                     pane
//                 }
//                 pane
//             }
//             pane_template name="my-pane_template" {
//                 pane
//                 children
//             }
//             horizontal-with-vertical-top name="my tab" {
//                 pane
//                 pane
//             }
//             horizontal-with-vertical-top
//         }


// layout {
//     pane size=1 borderless=true {
//         plugin location="zellij:tab-bar"
//     }
//     pane
//     pane size=2 borderless=true {
//         plugin location="zellij:status-bar"
//     }
// }
//
// layout {
//     pane_template name="python_pane" {
//         pane command="./my-python.script.py"
//     }
//     default_tab_template {
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar"
//         }
//         children
//         pane size=2 borderless=true {
//             plugin location="zellij:status-bar"
//         }
//     }
//     tab_template name="my-tab-template" {
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar"
//         }
//         children
//         pane size=2 borderless=true {
//             plugin location="zellij:status-bar"
//         }
//     }
//     pane_template name="my-cool-pane-tempalte" split_direction="Horiztonal" {
//         pane split_direction="Vertical" {
//             pane
//             children
//             pane
//         }
//         pane
//     }
//     my-tab-template split_direction="Vertical" {
//         my-cool-pane-template {
//             pane
//             pane
//         }
//         pane command="htop"
//     }
//     my-tab-template split_direction="Horizontal" {
//         pane
//         python_pane
//         pane command="bandwhich"
//     }
// }

// layout {
// //     tab {
// //         pane size=1 borderless=true {
// //             plugin location="zellij:tab-bar"
// //         }
// //         pane
// //         pane size=2 borderless=true {
// //             plugin location="zellij:status-bar"
// //         }
// //     }
//     tab_template name="not-default" {
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar"
//         }
//         children
//         pane size=2 borderless=true {
//             plugin location="zellij:status-bar"
//         }
//     }
//     not-default name="first tab" {
//         pane
//         pane
//     }
//     not-default name="second tab" split_direction="Vertical" {
//         pane
//         pane
//     }
//     not-default
// }

// layout split_direction="Horizontal" {
//     pane size=1 borderless=true {
//         plugin location="zellij:tab-bar";
//     }
//     pane split_direction="Vertical" {
//         pane size=1
//         pane
//         pane size=2
//     }
//     pane size=2 borderless=true {
//         plugin location="zellij:status-bar"
//     }
// }

// // without templates
// layout {
//     pane size=1 borderless=true {
//         plugin location="zellij:tab-bar";
//     }
//     pane
//     pane size=2 borderless=true {
//         plugin location="zellij:status-bar"
//     }
// }

// // with pane templates
// layout {
//     tab_template name="tab_with_plugins" {
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar";
//         }
//         children;
//         pane size=2 borderless=true {
//             plugin location="zellij:status-bar"
//         }
//     }
//     pane_template name="three-vertical-panes" split_direction="Vertical" {
//         pane
//         pane
//         pane
//     }
//     pane_template name="two_panes_with_child" split_direction="Vertical" {
//         pane
//         children
//         pane
//     }
//     pane_template name="htop" {
//         command "htop"
//         cwd "/tmp"
//         args "-v" "-h"
//     }
//     tabs {
//         tab_with_plugins name="some tab name" split_direction="Horizontal" focus=true {
//             three-vertical-panes
//             pane command="diskonaut" cwd="/"
//             pane {
//                 command "bandwhich"
//                 focus true
//             }
//             two_panes_with_child {
//                 htop
//             }
//         }
//         tab_with_plugins
//         tab_with_plugins {
//             plugin
//             htop focused=true
//         }
//     }
// }
