layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="Vertical" {
        pane size="20%" {
            plugin location="strider"
        }
        pane
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
