
// layout {
//     pane_template name="htop" {
//       pane command="htop"
//       vertical-sandwich {
//           pane
//       }
//     }
//     pane_template name="vertical-sandwich" split_direction="vertical" {
//       pane
//       children
//       pane
//     }
//     pane_template name="htop-vertical-sandwich" split_direction="vertical" {
//       pane
//       htop
//       pane
//     }
//     htop-vertical-sandwich
// }

// layout {
//     pane_template name="htop" {
//         pane command="htop"
//         vertical-sandwich
//     }
//     pane_template name="vertical-sandwich" split_direction="vertical" {
//         pane
//         children
//     }
//     pane_template name="htop-vertical-sandwich" split_direction="vertical" {
//       pane
//       htop
//       pane
//     }
//     htop-vertical-sandwich
// }
//
//   layout {
//       pane_template name="htop" {
//           pane command="htop"
//           vertical-sandwich
//       }
//       pane_template name="vertical-sandwich" split_direction="vertical" {
//           pane
//           // children
//           pane
//           pane
//       }
//       pane_template name="htop-vertical-sandwich" split_direction="vertical" {
//           pane
//           htop
//           pane
//       }
//       htop-vertical-sandwich
// }
//         layout {
//             tab_template name="horizontal-with-vertical-top" {
//                 pane split_direction="Vertical" {
//                     pane name="1"
//                     // pane name="3"
//                     pane {
//                         pane name="3"
//                     }
//                     pane name="4"
//                 }
//                 pane name="2"
//             }
// //             horizontal-with-vertical-top name="my tab" split_direction="Horizontal" {
// //                 pane
// //                 pane
// //             }
//             horizontal-with-vertical-top
// //             horizontal-with-vertical-top split_direction="Horizontal" {
// //                 pane
// //             }
//         }
//   layout {
//       pane_template name="htop" {
//           pane command="htop"
//           vertical-sandwich {
//               pane
//           }
//       }
//       pane_template name="vertical-sandwich" split_direction="vertical" {
//           pane
//           children
//           pane
//       }
//       pane_template name="htop-vertical-sandwich" split_direction="vertical" {
//           pane
//           htop
//           pane
//       }
//       htop-vertical-sandwich
// }
// layout {
//     pane size=1 borderless=true {
//         plugin location="zellij:tab-bar"
//     }
//     pane
//     pane size=2 borderless=true {
//         plugin location="zellij:status-bar"
//     }
// }

//         layout {
//             tab_template name="horizontal-with-vertical-top" {
//                 pane split_direction="Vertical" {
//                     pane name="3"
//                     children
//                 }
//                 pane name="4"
//             }
//             horizontal-with-vertical-top name="my tab" {
//                 pane name="1"
//                 pane name="2"
//             }
//             horizontal-with-vertical-top
//         }


//         layout {
//             pane_template name="horizontal-with-vertical-top" {
//                 pane split_direction="Vertical" {
//                     pane
//                     children
//                 }
//                 pane
//             }
//             horizontal-with-vertical-top name="my tab" {
//                 pane
//                 pane
//             }
//             horizontal-with-vertical-top
//         }
//         layout {
//             tab_template name="horizontal-with-vertical-top" {
//                 pane split_direction="Vertical" {
//                     pane
//                     children
//                 }
//                 pane
//             }
//             horizontal-with-vertical-top name="my tab" {
//                 pane
//                 pane
//             }
//             horizontal-with-vertical-top
//         }
//         layout {
//             tab_template name="horizontal-with-vertical-top" {
//                 vertical-sandwich {
//                     pane name="middle"
//                 }
//                 children
//             }
//             pane_template name="vertical-sandwich" split_direction="Vertical" {
//                 pane
//                 children
//                 pane
//             }
//             horizontal-with-vertical-top name="my tab" {
//                 pane
//                 pane
//             }
//             horizontal-with-vertical-top
//         }
        layout {
            tab name="my cool tab name 1"
            tab name="my cool tab name 2"
            default_tab_template {
                pane size=1 borderless=true {
                    plugin location="zellij:tab-bar"
                }
                pane
            }
        }
