layout {
    pane borderless=true {
        plugin location="zellij:session-manager" {
            welcome_screen true
        }
    }
}
session_serialization false // this will apply only to the initial welcome screen layout, and is intended to prevent lots of garbage sessions left around
